# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [2]:
%help

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.4

# Available Magic Commands

## Sessions Magic

----
    %help                             Return a list of descriptions and input types for all magic commands.
    %profile            String        Specify a profile in your aws configuration to use as the credentials provider.
    %region             String        Specify the AWS region in which to initialize a session.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\ USERNAME \.aws\config" on Windows.
    %idle_timeout       Int           The number of minutes of inactivity after which a session will timeout.
                                      Default: 2880 minutes (48 hours).
    %session_id_prefix  String        Define a String that will precede all session IDs in the format
                                      [session_id_prefix]-[session_id]. If a session ID is not provided,
                                      a random UUID will be generated.
    %status                           Returns the status of the current Glue session including its duration,
                                      configuration and executing user / role.
    %session_id                       Returns the session ID for the running session.
    %list_sessions                    Lists all currently running sessions by ID.
    %stop_session                     Stops the current session.
    %glue_version       String        The version of Glue to be used by this session.
                                      Currently, the only valid options are 2.0, 3.0 and 4.0.
                                      Default: 2.0.
----

## Selecting Session Types

----
    %streaming          String        Sets the session type to Glue Streaming.
    %etl                String        Sets the session type to Glue ETL.
    %glue_ray           String        Sets the session type to Glue Ray.
    %session_type       String        Specify a session_type to be used. Supported values: streaming, etl and glue_ray.
----

## Glue Config Magic
*(common across all session types)*

----

    %%configure         Dictionary    A json-formatted dictionary consisting of all configuration parameters for
                                      a session. Each parameter can be specified here or through individual magics.
    %iam_role           String        Specify an IAM role ARN to execute your session with.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\%USERNAME%\.aws\config` on Windows.
    %number_of_workers  int           The number of workers of a defined worker_type that are allocated
                                      when a session runs.
                                      Default: 5.
    %additional_python_modules  List  Comma separated list of additional Python modules to include in your cluster
                                      (can be from Pypi or S3).
    %%tags        Dictionary          Specify a json-formatted dictionary consisting of tags to use in the session.

    %%assume_role Dictionary, String  Specify a json-formatted dictionary or an IAM role ARN string to create a session
                                      for cross account access.
                                      E.g. {valid arn}
                                      %%assume_role
                                      'arn:aws:iam::XXXXXXXXXXXX:role/AWSGlueServiceRole'
                                      E.g. {credentials}
                                      %%assume_role
                                      {
                                            "aws_access_key_id" : "XXXXXXXXXXXX",
                                            "aws_secret_access_key" : "XXXXXXXXXXXX",
                                            "aws_session_token" : "XXXXXXXXXXXX"
                                       }
----


## Magic for Spark Sessions (ETL & Streaming)

----
    %worker_type        String        Set the type of instances the session will use as workers.
    %connections        List          Specify a comma separated list of connections to use in the session.
    %extra_py_files     List          Comma separated list of additional Python files From S3.
    %extra_jars         List          Comma separated list of additional Jars to include in the cluster.
    %spark_conf         String        Specify custom spark configurations for your session.
                                      E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer
----

## Magic for Ray Session

----
    %min_workers        Int           The minimum number of workers that are allocated to a Ray session.
                                      Default: 1.
    %object_memory_head Int           The percentage of free memory on the instance head node after a warm start.
                                      Minimum: 0. Maximum: 100.
    %object_memory_worker Int         The percentage of free memory on the instance worker nodes after a warm start.
                                      Minimum: 0. Maximum: 100.
----

## Action Magic

----

    %%sql               String        Run SQL code. All lines after the initial %%sql magic will be passed
                                      as part of the SQL code.
    %matplot      Matplotlib figure   Visualize your data using the matplotlib library.
                                      E.g.
                                      import matplotlib.pyplot as plt
                                      # Set X-axis and Y-axis values
                                      x = [5, 2, 8, 4, 9]
                                      y = [10, 4, 8, 5, 2]
                                      # Create a bar chart
                                      plt.bar(x, y)
                                      # Show the plot
                                      %matplot plt
    %plotly            Plotly figure  Visualize your data using the plotly library.
                                      E.g.
                                      import plotly.express as px
                                      #Create a graphical figure
                                      fig = px.line(x=["a","b","c"], y=[1,3,2], title="sample figure")
                                      #Show the figure
                                      %plotly fig



----

####  Run this cell to set up and start your interactive session.

In [1]:
%idle_timeout 2880
%glue_version 4.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Current idle_timeout is None minutes.
idle_timeout has been set to 2880 minutes.
Setting Glue version to: 4.0
Previous worker type: None
Setting new worker type to: G.1X
Previous number of workers: None
Setting new number of workers to: 5
Trying to create a Glue session for the kernel.
Session Type: glueetl
Worker Type: G.1X
Number of Workers: 5
Session ID: 599767cf-3954-453b-9382-c50abad066ac
Applying the following default arguments:
--glue_kernel_version 1.0.4
--enable-glue-datacatalog true
Waiting for session 599767cf-3954-453b-9382-c50abad066ac to get into ready status...
Session 599767cf-3954-453b-9382-c50abad066ac has been created.

In [2]:
spark

<pyspark.sql.session.SparkSession object at 0x7f4c1cdecb80>

In [14]:
%object_memory_head

%object_memory_head is only supported in Glue Ray session type

In [3]:
dfreniec = spark.read.csv("s3://039229394722bucketdata/reniec_data.csv", header='True', inferSchema='True')

In [4]:
dfreniec.show()

+---------------+----------+-------------------+-----------------+----+----+------------+---------+-------------+------------------+
|NUMERODOCUMENTO|    APEPAT|             APEMAT|          NOMBRES|EDAD|SEXO|DEPARTAMENTO|PROVINCIA|     DISTRITO|ESTADOCIVILTITULAR|
+---------------+----------+-------------------+-----------------+----+----+------------+---------+-------------+------------------+
|       41854018|     PINTO|            CONDORI|        JOSE LUIS|  31|   M|        LIMA|     LIMA|         LIMA|                 S|
|       41020654|    TORRES|               NAPA|     LUIS ENRIQUE|  34|   M|        LIMA|     LIMA|         LIMA|                 S|
|       41591162| CASTANEDA|          TANTALEAN|  SHIRLEY JANETTE|  33|   F|        LIMA|     LIMA|         LIMA|                 S|
|       41034300|    TAPARA|             FLORES| MARIELA MERCEDES|  37|   F|        LIMA|     LIMA|         LIMA|                 S|
|       41150271|  CARBAJAL|               RUIZ|ROSALIA HORTENCIA|  35|   F|        LIMA|     LIMA|         LIMA|                 S|
|       41125546|    GRADOS|            CONDORI|       ERIKA ANAI|  37|   F|        LIMA|     LIMA|         LIMA|                CS|
|       41919700|   CONDORI|             HUANCA|       ELIDA SONY|  31|   F|        LIMA|     LIMA|         LIMA|                CS|
|       41678951|   ESCOBAR|CASTANEDA DE SEGAMA|      LUISA YUDIT|  38|   F|        LIMA|     LIMA|          ATE|                CS|
|       41676527| CANGALAYA|         NINAHUANCA|   LOURDES AURORA|  32|   F|        LIMA|     LIMA|  SANTA ANITA|                 S|
|       41062987|      ECHE|         COLMENARES|   MARIA MILAGROS|  33|   F|        LIMA|     LIMA|        BRE�A|                CS|
|       41004637|   VASQUEZ|         DEL AGUILA| NIURKHA MILUSKHA|  35|   F|        LIMA|     LIMA|        BRE�A|                CS|
|       41290421|   NORIEGA|            NAVARRO|SAMANTA ROSSMANIS|  33|   F|        LIMA|     LIMA|        BRE�A|                 S|
|       41133448|     DIEGO|          NAVARRETE|       MARIA NELA|  38|   F|        LIMA|     LIMA|        BRE�A|                CS|
|       41899533|   PAREDES|           CASTILLO|      STEVEN JOEL|  32|   M|        LIMA|     LIMA|        BRE�A|                CS|
|       41869858|     MATOS|              FALLA|   JIMMY FRANKLIN|  34|   M|        LIMA|     LIMA|        COMAS|                 S|
|       41316157|    CHACON|           TERRONES|        JACKELINE|  32|   F|        LIMA|     LIMA|        COMAS|                 S|
|       41180904|      BOZA|          PACHERREZ|     CARMEN LUISA|  33|   F|        LIMA|     LIMA|   CHORRILLOS|                 S|
|       41225156|ECHEVARRIA|             FALCON|     MAYITA HYLDA|  33|   F|        LIMA|     LIMA|INDEPENDENCIA|                CS|
|       41564419|  MELENDEZ|               LEON|  MAURO CRISTOBAL|  39|   M|        LIMA|     LIMA|INDEPENDENCIA|                CS|
|       41303274|    ALFARO|              PEREZ|            EDWIN|  35|   M|        LIMA|     LIMA|INDEPENDENCIA|                 S|
+---------------+----------+-------------------+-----------------+----+----+------------+---------+-------------+------------------+
only showing top 20 rows

In [5]:
import pandas as pd
dfSexo = pd.DataFrame({'SEXO':['M','F'],'DETALLESEXO':['MASCULINO','FEMENINO']})
dfSexo

  SEXO DETALLESEXO
0    M   MASCULINO
1    F    FEMENINO

In [6]:
type(dfSexo)

<class 'pandas.core.frame.DataFrame'>

In [8]:
dfSexoSpark = spark.createDataFrame(dfSexo)

/opt/amazon/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
/opt/amazon/spark/python/lib/pyspark.zip/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.

In [9]:
type(dfSexoSpark)

<class 'pyspark.sql.dataframe.DataFrame'>

In [7]:
type(dfreniec)

<class 'pyspark.sql.dataframe.DataFrame'>

In [14]:
dfreniec

DataFrame[NUMERODOCUMENTO: int, APEPAT: string, APEMAT: string, NOMBRES: string, EDAD: int, SEXO: string, DEPARTAMENTO: string, PROVINCIA: string, DISTRITO: string, ESTADOCIVILTITULAR: string]

In [10]:
dfSexoSpark.createOrReplaceTempView("t_sexo")
dfreniec.createOrReplaceTempView("t_reniec")

In [19]:
spark.sql("show tables from default").show()

+---------+-----------------+-----------+
|namespace|        tableName|isTemporary|
+---------+-----------------+-----------+
|  default|t_dfreniecdetalle|      false|
|  default|  t_reporte_nuevo|      false|
|         |         t_reniec|       true|
|         |           t_sexo|       true|
+---------+-----------------+-----------+

In [16]:
dfReniecDetalle = spark.sql("""
                                        select a.*, b.DETALLESEXO
                                        from t_reniec a
                                        inner join t_sexo b on a.SEXO = b.SEXO
                            """)

In [ ]:
dfReniecDetalle.createSQLContexst()

In [18]:
spark.sql("""
            create table t_dfReniecDetalle
            as
                                        select a.*, b.DETALLESEXO
                                        from t_reniec a
                                        inner join t_sexo b on a.SEXO = b.SEXO
                            """)

DataFrame[]

In [17]:
dfReniecDetalle.show()

+---------------+-------------+---------+----------------+----+----+------------+---------+--------------------+------------------+-----------+
|NUMERODOCUMENTO|       APEPAT|   APEMAT|         NOMBRES|EDAD|SEXO|DEPARTAMENTO|PROVINCIA|            DISTRITO|ESTADOCIVILTITULAR|DETALLESEXO|
+---------------+-------------+---------+----------------+----+----+------------+---------+--------------------+------------------+-----------+
|       41800611|    VELASQUEZ|VELASQUEZ|   DAVID ROBERTO|  32|   M|        LIMA|     LIMA|          MIRAFLORES|                 S|  MASCULINO|
|       41726425|         VEGA|  OBREGON|    JULIO MARINO|  32|   M|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|  MASCULINO|
|       41695953|       QUISPE|   MAMANI|   EDWIN BELTRAN|  32|   M|        LIMA|     LIMA|         LA VICTORIA|                CS|  MASCULINO|
|       41784700|        ACARO|   ORTEGA|    ENVER YOSELY|  35|   M|        LIMA|     LIMA|SAN MARTIN DE PORRES|                CS|  MASCULINO|
|       41599317|    IZAGUIRRE|    SOLIS|    HENRY MARTIN|  32|   M|        LIMA|     LIMA|               COMAS|                 S|  MASCULINO|
|       41579214|         YAYA|  VENTURO|    JOSE EDUARDO|  33|   M|        LIMA|   CA�ETE|            IMPERIAL|                 S|  MASCULINO|
|       41539098|    SARMIENTO|   RIVERA|           ROMEL|  32|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|  MASCULINO|
|       41673925|       CAPANI|    ORTIZ|          HECTOR|  32|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|  MASCULINO|
|       41465372|     CARRASCO|HUASUPOMA|    EDWIN IRINEO|  32|   M|        LIMA|     LIMA|       INDEPENDENCIA|                 S|  MASCULINO|
|       41446683|       ANAMPA|     INCA|   NICOLAS LUCIO|  34|   M|        LIMA|     LIMA|                LIMA|                 S|  MASCULINO|
|       41429153|     CARRANZA|    CUBAS|          ELISEO|  34|   M|        LIMA|     LIMA|               RIMAC|                 S|  MASCULINO|
|       41414317|      SALDANA|MONDRAGON|    LUIS ALBERTO|  32|   M|        LIMA|     LIMA|       INDEPENDENCIA|                CS|  MASCULINO|
|       41318159|    VELASQUEZ|  DIESTRA|       JIMY RAUL|  33|   M|        LIMA|     LIMA|       INDEPENDENCIA|                 S|  MASCULINO|
|       41300907|    MONDONEDO|     WONG|          WALDIR|  33|   M|        LIMA|     LIMA|               RIMAC|                 S|  MASCULINO|
|       41282048|      ANCIETA|    MARIN|   VICTOR MARTIN|  33|   M|        LIMA|     LIMA|         LA VICTORIA|                 S|  MASCULINO|
|       41262842|GOMEZ SANCHEZ|   BOTTON|    CESAR MARTIN|  33|   M|        LIMA|     LIMA|   SANTIAGO DE SURCO|                 S|  MASCULINO|
|       41248532|      RAMIREZ|  BARBOZA|    JESUS MARTIN|  33|   M|        LIMA|     LIMA|          SAN MIGUEL|                 S|  MASCULINO|
|       41235005|       GRADOS|   CASTRO|      JORGE LUIS|  34|   M|        LIMA|     LIMA|         LA VICTORIA|                 S|  MASCULINO|
|       41212992|     GONZALES|  CACCIRE|ALEJANDRO JAVIER|  34|   M|        LIMA|     LIMA|   SANTIAGO DE SURCO|                 S|  MASCULINO|
|       41201652|       BUTRON|  GOTUZZO|            OMAR|  33|   M|        LIMA|     LIMA|   SANTIAGO DE SURCO|                 S|  MASCULINO|
+---------------+-------------+---------+----------------+----+----+------------+---------+--------------------+------------------+-----------+
only showing top 20 rows

In [20]:
dfReniecDetalle.printSchema()

root
 |-- NUMERODOCUMENTO: integer (nullable = true)
 |-- APEPAT: string (nullable = true)
 |-- APEMAT: string (nullable = true)
 |-- NOMBRES: string (nullable = true)
 |-- EDAD: integer (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- DEPARTAMENTO: string (nullable = true)
 |-- PROVINCIA: string (nullable = true)
 |-- DISTRITO: string (nullable = true)
 |-- ESTADOCIVILTITULAR: string (nullable = true)
 |-- DETALLESEXO: string (nullable = true)

In [25]:

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType, IntegerType

def mi_funcion(valor):
    return valor*10

mi_udf = udf(mi_funcion, IntegerType())
dfReniecDetalleNew = dfReniecDetalle.withColumn("Venta", mi_udf(dfReniecDetalle["EDAD"]))

In [26]:
dfReniecDetalleNew.show()

+---------------+-------------+---------+----------------+----+----+------------+---------+--------------------+------------------+-----------+-----+
|NUMERODOCUMENTO|       APEPAT|   APEMAT|         NOMBRES|EDAD|SEXO|DEPARTAMENTO|PROVINCIA|            DISTRITO|ESTADOCIVILTITULAR|DETALLESEXO|Venta|
+---------------+-------------+---------+----------------+----+----+------------+---------+--------------------+------------------+-----------+-----+
|       41800611|    VELASQUEZ|VELASQUEZ|   DAVID ROBERTO|  32|   M|        LIMA|     LIMA|          MIRAFLORES|                 S|  MASCULINO|  320|
|       41726425|         VEGA|  OBREGON|    JULIO MARINO|  32|   M|        LIMA|     LIMA|       PUENTE PIEDRA|                 S|  MASCULINO|  320|
|       41695953|       QUISPE|   MAMANI|   EDWIN BELTRAN|  32|   M|        LIMA|     LIMA|         LA VICTORIA|                CS|  MASCULINO|  320|
|       41784700|        ACARO|   ORTEGA|    ENVER YOSELY|  35|   M|        LIMA|     LIMA|SAN MARTIN DE PORRES|                CS|  MASCULINO|  350|
|       41599317|    IZAGUIRRE|    SOLIS|    HENRY MARTIN|  32|   M|        LIMA|     LIMA|               COMAS|                 S|  MASCULINO|  320|
|       41579214|         YAYA|  VENTURO|    JOSE EDUARDO|  33|   M|        LIMA|   CA�ETE|            IMPERIAL|                 S|  MASCULINO|  330|
|       41539098|    SARMIENTO|   RIVERA|           ROMEL|  32|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|  MASCULINO|  320|
|       41673925|       CAPANI|    ORTIZ|          HECTOR|  32|   M|        LIMA|     LIMA|SAN JUAN DE LURIG...|                 S|  MASCULINO|  320|
|       41465372|     CARRASCO|HUASUPOMA|    EDWIN IRINEO|  32|   M|        LIMA|     LIMA|       INDEPENDENCIA|                 S|  MASCULINO|  320|
|       41446683|       ANAMPA|     INCA|   NICOLAS LUCIO|  34|   M|        LIMA|     LIMA|                LIMA|                 S|  MASCULINO|  340|
|       41429153|     CARRANZA|    CUBAS|          ELISEO|  34|   M|        LIMA|     LIMA|               RIMAC|                 S|  MASCULINO|  340|
|       41414317|      SALDANA|MONDRAGON|    LUIS ALBERTO|  32|   M|        LIMA|     LIMA|       INDEPENDENCIA|                CS|  MASCULINO|  320|
|       41318159|    VELASQUEZ|  DIESTRA|       JIMY RAUL|  33|   M|        LIMA|     LIMA|       INDEPENDENCIA|                 S|  MASCULINO|  330|
|       41300907|    MONDONEDO|     WONG|          WALDIR|  33|   M|        LIMA|     LIMA|               RIMAC|                 S|  MASCULINO|  330|
|       41282048|      ANCIETA|    MARIN|   VICTOR MARTIN|  33|   M|        LIMA|     LIMA|         LA VICTORIA|                 S|  MASCULINO|  330|
|       41262842|GOMEZ SANCHEZ|   BOTTON|    CESAR MARTIN|  33|   M|        LIMA|     LIMA|   SANTIAGO DE SURCO|                 S|  MASCULINO|  330|
|       41248532|      RAMIREZ|  BARBOZA|    JESUS MARTIN|  33|   M|        LIMA|     LIMA|          SAN MIGUEL|                 S|  MASCULINO|  330|
|       41235005|       GRADOS|   CASTRO|      JORGE LUIS|  34|   M|        LIMA|     LIMA|         LA VICTORIA|                 S|  MASCULINO|  340|
|       41212992|     GONZALES|  CACCIRE|ALEJANDRO JAVIER|  34|   M|        LIMA|     LIMA|   SANTIAGO DE SURCO|                 S|  MASCULINO|  340|
|       41201652|       BUTRON|  GOTUZZO|            OMAR|  33|   M|        LIMA|     LIMA|   SANTIAGO DE SURCO|                 S|  MASCULINO|  330|
+---------------+-------------+---------+----------------+----+----+------------+---------+--------------------+------------------+-----------+-----+
only showing top 20 rows

#### Example: Create a DynamicFrame from a table in the AWS Glue Data Catalog and display its schema

In [ ]:
dyf = glueContext.create_dynamic_frame.from_catalog(database='database_name', table_name='table_name')
dyf.printSchema()

#### Example: Convert the DynamicFrame to a Spark DataFrame and display a sample of the data

In [ ]:
df = dyf.toDF()
df.show()

#### Example: Visualize data with matplotlib

In [ ]:
import matplotlib.pyplot as plt

# Set X-axis and Y-axis values
x = [5, 2, 8, 4, 9]
y = [10, 4, 8, 5, 2]
  
# Create a bar chart 
plt.bar(x, y)
  
# Show the plot
%matplot plt

#### Example: Write the data in the DynamicFrame to a location in Amazon S3 and a table for it in the AWS Glue Data Catalog

In [ ]:
s3output = glueContext.getSink(
  path="s3://bucket_name/folder_name",
  connection_type="s3",
  updateBehavior="UPDATE_IN_DATABASE",
  partitionKeys=[],
  compression="snappy",
  enableUpdateCatalog=True,
  transformation_ctx="s3output",
)
s3output.setCatalogInfo(
  catalogDatabase="demo", catalogTableName="populations"
)
s3output.setFormat("glueparquet")
s3output.writeFrame(DyF)